@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
    font-weight: 500;
}

.font-semibold {
    font-weight: 500;
}

.font-bold {
    font-weight: 600;
}